//- Incluye los mixins
include ../mixins.pug
//- Layout
doctype html
html(lang="es",prefix="og: http://ogp.me/ns#")
  head
    block head
      meta(charset="utf-8")

      title=title

      meta(name="description",content=description)
      if (keywords)
        if (typeof keywords === "string")
          meta(name="keywords",content=keywords)
        else
          meta(name="keywords",content=keywords.join(","))
      meta(name="author",content=author)
      meta(name="viewport",content="width=device-width, initial-scale=1.0")

      //- Insertamos los datos de facebook.
      +facebook(facebook)

      //- Insertamos la información de open graph.
      +openGraph(openGraph)

      //- Insertamos la información de la twitter card.
      +twitter(twitter)

      link(href="",rel="canonical")
      link(href="",rel="me")
      link(href="/index.css",rel="stylesheet",type="text/css")
  body
    block body
      h1 Hello World
    script(src="/index.js")
