//- Este mixin inserta los metadatos de open graph en la cabecera del HTML.
mixin openGraph(data)
  if (data)
    meta(property="og:type",content=data.type || "website")
    meta(property="og:title",content=data.title)
    meta(property="og:description",content=data.description)
    meta(property="og:url",content=data.url)
    if (data.image)
      if (typeof data.image === "string")
        meta(property="og:image",content=data.image)
      else if (typeof data.image === "object")
        meta(property="og:image:url",content=data.image.url)
        if (data.image.secureUrl)
          meta(property="og:image:secure_url",content=data.image.secureUrl)
        if (data.image.type)
          meta(property="og:image:type",content=data.image.type)
        if (data.image.width)
          meta(property="og:image:width",content=data.image.width)
        if (data.image.height)
          meta(property="og:image:height",content=data.image.height)
    if (data.locale && data.locale.default)
      meta(property="og:locale",content=data.locale.default)
      if (data.locale.alternate)
        meta(property="og:locale:alternate",content=data.locale.alternate)
